@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&family=Ubuntu:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background-color: #060749;
  font-family: "Ubuntu", sans-serif;
  /* transition: all 0.5s; */
}

/* pause animations till page loads */

.js-loading *,
.js-loading *:before,
.js-loading *:after {
  animation-play-state: paused !important;
}

/* preloader */
.preloader{
  width: 100%;
  height: 125vh;
  background-color: #000135;
  position: fixed;
  display: flex;
  text-align: center;
  z-index: 100;
  opacity: 1;
  transition: all 0.5s;
  /* overflow: hidden; */
}
.loading-img{
  margin: auto; 
  width: 100px; 
  background: none;
  height: fit-content;
}
.preloader p{

  background: none;
  color: #00fff2;
  margin-bottom: 0;
  
}

.hide-preloader{
  opacity: 0;
  transition: all 1s;
  pointer-events: none;
}

/* scroll bar  */

html{
  scrollbar-color: #00fff260 #060749;
  overflow-y: scroll;
  scrollbar-width: 0.1em;
} 

.hide-scroll{
  overflow: hidden;
  height: 100vh;
}


body::-webkit-scrollbar {
  width: 0.5em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #00fff250;
  /* outline: 1px solid slategrey; */
  /* border-radius: 20%; */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.navbar *{
  background: none;
}
body{
  background-color: #060749;
  zoom: 80%;
}
main{
  padding: 0 15vw;
  overflow: hidden;
}
a{
  color: blue;
}
/* navbar */

.fancy-burger{
  position: relative;
  width: 50px;
  height: 40px;
  /* padding-left: 30px; */
  border:0;
  outline:none;
  cursor: pointer;
}

.rectangle{
  position:absolute;
  height: 4px;
  background: #0a6efd;
  /* color: black; */
  
  border-radius: 4px;
  transition: transform 0.65s;
}
.rectangle-small{
  width:50%;
}
.rectangle-top{
  top:0;
  left:0;
  transform-origin: top left;
}
.rectangle-middle{
  top: 50%;
  left: 0;
  width: 100%;
  transform:translateY(-50%)
}
.rectangle-bottom{
  bottom: 0;
  right: 0;
  transform-origin: bottom right;
}

/* .box{
  position: absolute;
  top: 34px;
  left: 40px;
  width: 350px;
  height: 200px;
  border-radius: 33px;
  background: black;
  opacity: 0;
  transform:scale(0);
  transform-origin: top left;
  transition-property: opacity transform;
  transition-duration: 0.65s;
} */

.rectangle-top.open{
  transform: translateX(30%) rotate(45deg);
}
.rectangle-middle.open{
  transform: translateY(-50%) rotate(-45deg);
}
.rectangle-bottom.open{
  transform:translateX(-30%) rotate(45deg);
}


.navbar {
  position: fixed;
  display: flex;
  flex-wrap: wrap; 
  align-items: center;
  justify-content: space-between; 
  z-index: 5;
  padding-top: 15px;
  padding-bottom: 0;
  background:#060749;
  animation-delay: 1s;
  animation-fill-mode: backwards;
  animation-name: logo-appear;
  animation-duration: 1s;
  
  }
.logo {
  width: 100px;
  margin-left: 30%;
  
  
}
.dec-brackets {
  color: #0a6efd;
  transition: color 0.4s ease;
}

nav {
  top: 0;
  width: 100%;
  /* font-family: 'Roboto',sans-serif; */
  margin: auto;
  margin-top:0;
  padding-top: 1%;
  transition: all 0.5s;
  
}
.on-scroll{
  box-shadow: 0 10px 30px -10px #030427;
  background:#050533c2;

}
.menu {
  margin-right: 5%;
  width: 70%;
  text-align: right;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
  font-size: 20px;
  /* font-weight: bold; */
  font-family: "Roboto Slab", serif;
  padding: 1%;
}
.navbar .menu li a {
  color: #00fff2;
  text-decoration: none;
  display: block;
  font-size: 20px;
  transition: color 0.4s ease;
}



.navbar .menu li a:hover {
  color: #0a6efd;
  text-decoration: none;
  transition: color 0.4s ease;
}

.navbar .menu li a:hover > .dec-brackets {
  color: #060749;
  transition: color 0.4s ease;
}

.menu-bar {
  /* padding-bottom: 20px; */
  margin-right: 2%;
  /* font-size: 40px; */
  display: none;
}
.menu-bar button{
  border: none;
  color: #01a2ff;
}

/* social media icons */

.sm-icons{
  position: fixed;
  bottom: 0;
  margin-left: 2%;
  height: 35vh;
  color: blue;
  background: transparent;
  /* animation-name: logo-appear;
  animation-duration: 0.5s;
  animation-delay: 2s;
  animation-fill-mode: backwards; */
}
.sm-icons ul{
  list-style: none;
  background: transparent;
}
.sm-icons li{
  background: transparent;
}
.sm-icons a{
  font-size: 30px;
  padding-bottom: 30px;
  text-decoration: none;
  background: transparent;
}

/* home section  */

.button-glass{
  color: #0a6efd;
    font-size: 1.25rem;
    padding: 20px;
    border-radius: .3rem;
    border: #0a6efd;
    border-width: 2px;
    border-style: solid; 
    position: relative;  
    /* overflow: hidden; */
}

.button-glass::after{
  content:'';
  position:absolute;
  top:-115%;
  left: -115%;
  width:150%;
  height:150%;
  background: linear-gradient(0deg,#06074954,rgba(0, 238, 255, 0.411),#06074954);
    transition: 0.5s;
    transform: rotate(-45deg);
    /* transition-delay: 0.5s; */
}
.button-glass:hover::after{
  left: 100%;
  top:100%
}
.button-glass span{
  position: absolute;
  display: block;
  transition: 0.5s ease;
}
.button-glass span:nth-child(1)
{
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: rgb(2, 236, 253);
}
.button-glass:hover span:nth-child(1){
  width: 100%;
  transform: translatex(105%);
}

.button-glass span:nth-child(2)
{
  top: 0;
  left: 0;
  width: 1px;
  height: 0;
  background: rgb(2, 236, 253);
}
.button-glass:hover span:nth-child(2){
  height: 100%;
  transform: translateY(105%);
}

.button-glass span:nth-child(3)
{
  bottom: 0;
  right: 0;
  width: 0;
  height: 1px;
  background: rgb(2, 236, 253);
}
.button-glass:hover span:nth-child(3){
  width: 100%;
  transform: translatex(-105%);
}
.button-glass span:nth-child(4)
{
  bottom: 0;
  right: 0;
  width: 1px;
  height: 0;
  background: rgb(2, 236, 253);
}
.button-glass:hover span:nth-child(4){
  height: 100%;
  transform: translatey(-105%);
}

#intro {
  display: inline-flex;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  justify-content: center;
  /* width: 1200px; */
  /* padding:0 200px; */
}
.intro-content {
  /* padding-top: 5%; */
  justify-content: center;
  height: fit-content;
  /* margin-top: 4%; */
  margin:auto;
  /* width: clamp(400px, 80vw, 800px); */
}
.text1 {
  font-size: 25px;
  /* font-weight: bold; */
  background: none;
  color: #0a6efd;
  line-height: 1;
  
}
.text2 {
  font-size: clamp(40px, 8vw, 80px);
  min-height: 40px;
  font-weight: bold;
  background: none;
  color: #00fff2;
  line-height: 1;
}
.text3 {
  font-size: clamp(40px, 8vw, 80px);
  /* font-weight: bold; */
  /* font-style: italic; */
  min-height: 40px;
  background: none;
  color: #5c69a0;
  line-height: 1;
}
.about-me {
  font-size: 20px;
  color: #7d86af;
  line-height: 1.3;
  width: 100%;
  padding-right: 3%;
  
}
.emphasize{
  color: #00fff2;
}

.about-me p{
  width: 70%; 
  display: inline-block;
}
.blurry-bg {
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
  right: 0;
  background-color: transparent;
}

/* about section  */

#about, #experience{
  display: flex;
  /* width: 100%; */
  min-height: 85vh;
  margin: auto;
  width:70%;
  /* margin-top: 10%; */
  justify-content: center;
}

.about-me-content{
  display: grid;
  grid-template-columns: 75% 25%;

}

.section-heading{
  color: #00fff2;
  border-bottom: #0a6efd;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  padding: 20px;
}
.blue-filter{
  height: fit-content;
  display: block;
  position: relative;
}

.blue-filter::after{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  background-color: #484abe56;
  height: 100%;
  transition:ease-in-out 0.2s;
}
.blue-filter:hover::after{
  background-color:transparent;
  transition:ease-in-out 0.2s;
}

#mypic{
  width: 100%;
  /* margin-top: 5px; */
}

p.about-me{
  display: inline-block;
}


/* experience  */

.experience-content{
  padding-top: 5%;
  justify-content: center;
  /* width: clamp(400px, 80vw, 800px); */
}

.button-group{
  width: 25%;
  display: inline-block;
  border-left: #00fff2;
  border-left-style: solid;
  border-left-width: 1px;
}
.toggle-button{
  display: flex;
  border-radius: 0;
  width: 100%;
  border-color: transparent;
  padding: 10px;
  color: #0a6efd;
  text-align: center;
  justify-content: center; 
}
.toggle-button:hover{
  background-color: #1f2066;  
}
.active-color{
  background-color: #1f2066;
}
.exp-info{
  display: inline-flex;
  position: relative;
  bottom: 55px;
  margin-left: 3%;
  /* width: clamp(100px,50%,600px); */
  width: 70%;
  box-sizing: border-box;
}
.exp-info li{
  color:rgb(37, 203, 245);
  list-style-type: square;
}
.exp-info ul{
  padding-left: 1.2rem;
}
.exp-info h3{
  color: #00fff2;
}
.exp-tabs{
  /* position:absolute; */
  grid-area: 1/1/1/1;
  transition: all 0.5s;
}
.hidden-tab{
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

/* projects */

#projects{
  display: flex;
  min-height: 85vh;
  margin: auto;
  justify-content: center;
  /* margin-top: 10%; */
  width: 70%;
}

.right-align{
  text-align:right;
}


.projects-content{
  padding-top: 5%;
  justify-content: center;
  /* width: clamp(400px, 80vw, 800px); */
}
.project-card{
  width: 75%;
  color:#00fff2;
  margin: auto;
  justify-content: center;
  text-align: center;
  display: grid;
  margin-bottom: 15%;
  -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.541);
  /* background-image: url(images/flyver.png); */
}
.project-card-content{
  width: 100%;
  grid-area: 1/1/1/1;
  text-align: left;
  z-index: 1;
  background: rgb(0 232 255 / 15%);
  transition: all 0.2s;
}

.project-card-content h3{
  color:#01a2ff;
  transition:all 0.2s;
}

.fa-style{
  font-size: 25px;
  background:none;
  /* padding-right: 8%; */
  color: #06063d;
  /* float: right; */
  position: relative;
  bottom: 3%;
}
.ext-links{
  text-align: right;
  padding: 0 6%;
  margin-bottom: 2%;
}
.ext-links-left{
  text-align: left;
  padding: 0 12%;
  margin-bottom: 2%;
}


a.fa-style{
  text-decoration: none;
  transition: all 0.2s;
}

.project-card:hover>.project-card-content{
  background: rgb(0 232 255 / 0%);
  transition: ease-out 0.2s;
}

.project-card:hover>.project-card-content>.ext-links>.fa-style{
  color: white ;
  transition: ease-in 0.2s;
}

.project-card:hover>.project-card-content>.ext-links-left>.fa-style{
  color: white ;
  transition: ease-in 0.2s;
}

.git-card:hover>.project-card-content>h3{
  color: #00fff2;
  transition: ease-out 0.2s;
}

#link1:hover,#link2:hover,#link3:hover,#link4:hover{
  color: #01a2ff;
  transition: ease-in 0.2s;
}

/* contact section  */

#contact{
  display: flex;
  width: 100%;
  min-height: 85vh;
  margin: auto;
  justify-content: center;
  height: fit-content;
  padding-bottom: 50px;
}

/* footer section */
.icon{
  transition: all 0.4s;
}
.icon:hover{
  color: #00fff2;
  transform: translateY(-8px);
}
footer{
  background-image: linear-gradient(#060749, #03031a);
  display: flex;
  justify-content: center;
  margin-top: -1px;

}

.sm-icons-footer{
  background: transparent;
  text-align: center;
  display: none;
  height: fit-content;
  margin: auto;
  /* padding-top: 30px; */
}
.sm-icons-footer a{
  font-size: 30px;
  padding: 0 30px;
  /* padding-bottom: 20px; */
  text-decoration: none;
  background: transparent;
}

.reveal{
  opacity: 0;
  transform: translateY(150px);
  transition: all 1s;
}
.reveal-center{
  transform: translateY(0px);
  transition: all 1s;
}
.reveal-center.active{
  opacity: 1;
}
.reveal.reveal-left{
  transform: translateY(0px);
  
  transform: translateX(150px);
  transition: all 1s;
}
.reveal.active{
  opacity:1;
  transform: translateY(0px);
}
.reveal.reveal-left.active{
  transform: translateX(0px);
  opacity:1;
}
.reveal.reveal-right{
  transform: translateY(0px);
  transform: translateX(-150px);
  transition: all 1s;
}
.reveal.reveal-right.active{
  transform: translateX(0px);
  opacity:1;
}


/* media responsive query  */

@media (max-width:1200px){

  main{
    padding: 0 150px;
  }
  #about,#experience,#projects{
    width: 100%;
  }
}

@media (max-width:1110px){

  .about-me p{
    width: 100%; 
    display: inline-block;
  }
}


@media (max-width: 840px) {

  /* navbar  */

  main{
    padding: 0 80px;
  }

  body{
    zoom: 100%;
  }

  .logo {
    margin-left: 0;
    width: 100px;
    
  }

  .preloader{
    width: 100%;
    height: 100vh;
  }

  .menu-bar {
    display: block;
    z-index: 3;
    background-color: transparent;
  }
  div.intro-content{
    transition: all 0.5s;
  }

  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: min(75vw, 400px);;
    right: -100%;
    top: 0;
    z-index: 2;
    text-align: center;
    display: flex;
    /* padding-top: 200px; */
    margin-right: 0;
    transition: all 0.5s;
    background-color: #06063d;
  }
  .menu ul{
    margin: auto;
  }
  a {
    background-color: transparent;
  }
  .navbar .menu.active {
    right: 0;
    
  }
  .hide-overflow{
    overflow: hidden;
  }

  .blur-filter.active {
    filter: blur(5px);
    transition: all 0.5s;
  }
  .dec-brackets {
    background-color: #06063d;
  }
  .navbar .menu li a:hover > .dec-brackets {
    color: #06063d;
    transition: color 0.4s ease;
  }

  .navbar .menu li {
    display: block;
    margin: 20px 0;
    background-color: #06063d;
  }
  .navbar .menu li a {
    display: inline;
    background-color: #06063d;
  }

  /* social media icons  */
  .sm-icons{
    display: none;
  }
  .sm-icons-footer{
    display:block;
  }

  /* about section  */

  .blue-filter{
    height: fit-content;
    /* display: inline; */
    margin:auto;

  }

  .blue-filter::after{
    border-radius: 100%;
  }

  .about-me-content{
    grid-template-columns: 100%;
  }

  #about{
    display: flex;
    /* width: 100%; */
    min-height: 85vh;
    margin: auto;
    justify-content: center;
    text-align: center;
  }
  .intro-content{
    text-align: center;
  }
  
  .about-me{
    width:100%;
  }
  .section-heading{
    color: #00fff2;
    border-bottom: #0a6efd;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    text-align: center;
  }
  #mypic{
    width: 198px;
    /* position: absolute; */
    display: flex;
    border-radius: 100%;
    position: inherit;
    display: unset;
  }

  #experience{
    padding-top: 150px;
  }
  

  /* projects section  */
  .project-card{
    width: 100%;
  }
  

  .project-card-content h3{
    text-align: center;
  }

  .project-card-content p{
    text-align: center;
  }

  .fa-style{
    padding-right: 0;
    float: none;
  }

  .ext-links,.ext-links-left{
    text-align: center;
  }

  .lang-used{
    padding-top: 4%;
  }
  .fa-style{
    bottom:5%;
  }
  .project-card:hover>.project-card-content{
    background: rgb(0 232 255 / 15%);
    transition: ease-out 0.2s;
  }

  #mcst-card h1{
    padding-top: 8%;
  }
  #mcst-card .lang-used{
    padding-top: 0;
  }
  
  
}

@media (max-width: 485px) {

  main{
    padding: 0 30px;
  }
}

@media (max-width: 656px) {
  .exp-info{
    bottom: 85px;
  }
}

/* animations */

@keyframes logo-appear{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes menu-appear{
  from{
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes text-appear{
  from{
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}



